<div>
  <% if(value) { %>
    <label for="<%= id %>"><%= label %></label>
    <br>
    <% for(var i = 0; i<value.length;i++) { %>
    <label>
      <input type="<%= type %>" value="<%= value[i].value%>" class="<%= className %>" style="margin: 5px;" name="<%= name %>" <%= value[i].checked || '' %> ><%= value[i].name %>
    </label>
    <% } %>
  <% } %>
</div>
<br>
