<form name="<%= formName %>" action="<%= formAction %>" method="<%= formMethod %>" novalidate>
  <%- formContent %>
  <div>
    <input type="hidden" id="storekey" name="storekey" value="<%= keyValue %>" />
  </div>
</form>
