<div>
  <label for="<%= id %>"><%= name %></label>
  <br>
  <textarea class="<%= className %>" placeholder="<%= name %>" name="<%= name %>" id="<%= id %>" value="<%= value %>" rows="5" ></textarea>
  <% if(err.length > 1) { %>
  <br>
  <span style="color:red"><%= err %></span>
  <% } %>
</div>
<br>
