<div>
  <label for="<%= id %>"><%= label %></label>
  <br>
  <input type="<%= type %>" id="<%= id %>" name="<%= name %>" class="<%= className %>" value="<%= value %>" placeholder="<%= name %>" <%= required %> />
  <% if(err.length > 1) { %>  
  <span style="color:red"><%= err %></span>
  <% } %>
</div>
<br>
